.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* padding: 8px 0px 8px 0px; */
}
.wrapper:hover{
    background: #C1C7CE;
}

h2 {
    font-size: 1em;
    font-weight:500;
    padding-left: 18%;
    position: relative;
}

svg {
    margin-left: 13%;
}